@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    font-family: 'Abril Fatface', serif;
}

header {
    text-align: center;
    background-color: rgb(70, 67, 67);
}

header img {
    border-radius: 80%;
    border: 10px solid rgb(15, 15, 15);
}

a {
    color:#FDFEFF;
    text-decoration: none;
}

a:hover {
    background-color: black;
}

body {
    background-color:#FDFEFF;
    text-align: center;
}

body p {
    width: 70%;
    margin: 0 auto;
    /* justify-self:center; */
    /* text-align: center; */
}

footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center
}

footer p a {
    text-decoration: none;
}

nav {
 padding: 1em 0;
 display: flex;
 justify-content: space-evenly;
}
nav a {
    padding: 1em;
}
.social img {
    max-width: 80px;
}
main img{
    box-shadow: 5px 5px 10px black;
} 
 body p {
    margin-top:30px;
    margin-bottom: 30px;
}
.flip-card {
    background-color: transparent;
    width: 1000px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 0 auto;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:#464343;
    color: white;
    transform: rotateY(180deg);
  }